__pycache__
test.py
dist/save.adv
build/make/ADVENT.pkg
build/make/Analysis-00.toc
build/make/base_library.zip
build/make/EXE-00.toc
build/make/PKG-00.toc
build/make/PYZ-00.pyz
build/make/PYZ-00.toc
build/make/warn-make.txt
build/make/xref-make.html
build/make/localpycs/pyimod01_archive.pyc
build/make/localpycs/pyimod02_importers.pyc
build/make/localpycs/pyimod03_ctypes.pyc
build/make/localpycs/pyimod04_pywin32.pyc
build/make/localpycs/struct.pyc
save.json
start.json
